/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #333;
  background: url(/img/stars.png);
  background-attachment:fixed;
  color: #999;
  font: 32px Lato, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-transform: uppercase;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

a, a:visited {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  padding: 12px;
  min-height: 1600px;
}

.site .header {
  margin-bottom: 1em;
}

.site .header h1 a {
  color: white;
  text-decoration: none;
}

h1.title {
  text-align: center;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .header p {
  padding: 24px;
  text-align: center;
}

.site .meta {
  color: #aaa;
}

#talent {
  float: left;
  width: 20%;
  min-width: 160px;
  margin-right: 24px;
}

#talent h2 {
  background-color: rgba(84, 84, 138, 0.5);
}

#talent ul {
  margin-bottom: 24px;
}

#talent ul li {
  color: #999;
  font-size: 66%;
}

#home {
  float: left;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts .post {
  width: 600px;
  font-size: 80%;
  line-height: 100%;
  margin: 6px;
  padding: 6px;
}

.posts .post p {
  margin-top: 0px;
  margin-bottom: 16px;
}

.posts li {
  background-color: rgba(84, 84, 138, 0.5);
  padding: 32px;
}

.post {
  margin: 24px;
  padding: 12px;
}
